<script src="../../Scripts/q.js" type="text/javascript"></script>
<script src="../../Scripts/knockout-2.2.1.debug.js" type="text/javascript"></script>
<script src="../../Scripts/knockout.mapping-latest.debug.js" type="text/javascript"></script>
<script src="../../Scripts/knockout.validation.debug.js" type="text/javascript"></script>
<script src="../../Scripts/breeze.debug.js" type="text/javascript"></script>
<script src="../../Scripts/breezePager.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        var vm = {
            breezePagedGrid: new breezePagedGrid(),
            manager: new breeze.EntityManager("breeze/Context")
        };
        var query = new breeze.EntityQuery().from("Users").orderBy("UserName").inlineCount(true);

        ko.applyBindings(vm);

        vm.breezePagedGrid.Init();
        vm.breezePagedGrid.AddColumn("User ID", "UserId");
        vm.breezePagedGrid.AddColumn("Display Name", "DisplayName");
        vm.breezePagedGrid.AddColumn("User Name", "UserName");
        vm.breezePagedGrid.AddColumn("Active", "IsActive");
        vm.breezePagedGrid.DataPromise = function () { return vm.manager.executeQuery(query); };
        vm.breezePagedGrid.GetData();
    });
</script>
<link href="@Url.Content("~/Content/breezePagedGrid.css")" rel="stylesheet" type="text/css" />
<div style="width:75%;">
@RenderPage("~/Views/Shared/breezePagedGrid.cshtml")
</div>