<div data-bind="with: breezePagedGrid">
    <div data-bind="with: Pager" class="pagerShell" style="vertical-align: middle;">
        <div style="vertical-align: middle;">
            <span style="font-weight: bold; padding-right: 2em;" data-bind="text: 'Total record(s): ' + recordCount()">
            </span>Items per page:
            <select data-bind="value: itemsPerPage" class="pagerInput">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
        <div style="vertical-align: middle;" data-bind="visible: $parent.ShowSearchBox">
            <b>Find: </b>
            <input type="text" data-bind="value: $parent.SearchText" />
            <button data-bind="click: $parent.GetData" class="navButton search"
                style="vertical-align: baseline;">
            </button>
        </div>
        <div style="float: right; vertical-align: middle;">
            <button data-bind="click: firstPage" class="navButton firstPage">
            </button>
            <button data-bind="click: previousPage" class="navButton previousPage">
            </button>
            <div style="display: inline; padding-top: 0.2em;">
                Page
                <input type="text" data-bind="value: pageNumber" class="pagerInput" />
                of <span data-bind="text: maxPages()"></span>
            </div>
            <button data-bind="click: nextPage" class="navButton nextPage">
            </button>
            <button data-bind="click: lastPage" class="navButton lastPage">
            </button>
        </div>
    </div>
    <ul class="table">
        <li class="header" data-bind="foreach: Columns"><span data-bind="text: ColumnHeader">
        </span></li>
        <!-- ko foreach: Results -->
        <li>
            <!-- ko foreach: $parent.Columns -->
            <!-- ko template: DisplayControlType -->
            <!-- /ko -->
            <!-- /ko -->
        </li>
        <!-- /ko -->
    </ul>
</div>
<script type="text/html" id="cell">
<span data-bind="text: $parent.getProperty(FieldName())"></span>
</script>
<script type="text/html" id="checkbox">
<input type="checkbox" data-bind="checked: $parent.getProperty(FieldName())" />
</script>
<script type="text/html" id="date-cell">
<span data-bind="text: moment($parent.getProperty(FieldName())).format('MM/DD/YYYY hh:mm')"></span>
</script>
<script type="text/html" id="id-nav-link">
<span><a data-bind="text: $parent.getProperty(FieldName()), attr: { href: NavLink() + '/' + $parent.getProperty(KeyField()) }"></a></span>
</script>
<script type="text/html" id="html">
<span><a data-bind="html: $parent.getProperty(FieldName()), attr: { href: NavLink() + '/' + $parent.getProperty(KeyField()) }"></a></span>
</script>
